<div class="space-y-6">
  <!-- Page Header -->
  <div>
    <h1 class="text-1 text-gray-900">Edit <%= @user.whatsapp_number %></h1>
    <p class="text-3 text-gray-600 mt-2">Update user information</p>
  </div>

  <!-- Form -->
  <%= render "form", user: @user %>
</div>
